
h1{
    text-align: center;
}

body,html{
    margin: 0;
    background: linear-gradient(to right, rgb(35, 37, 38), rgb(65, 67, 69)); 
    background-repeat: no-repeat;
    width: 100%; 
    height: 100%; 
}


